{% extends 'base.html.twig' %}

{% block title %}Application index{% endblock %}

{% block body %}
    <h1>Application index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CoverLetter</th>
                <th>CvFilename</th>
                <th>PortfolioLinks</th>
                <th>HoursWorked</th>
                <th>AdvanceRequestedPercent</th>
                <th>IsAdvanceAccepted</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for application in applications %}
            <tr>
                <td>{{ application.id }}</td>
                <td>{{ application.coverLetter }}</td>
                <td>{{ application.cvFilename }}</td>
                <td>{{ application.portfolioLinks }}</td>
                <td>{{ application.hoursWorked }}</td>
                <td>{{ application.advanceRequestedPercent }}</td>
                <td>{{ application.isAdvanceAccepted ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_application_show', {'id': application.id}) }}">show</a>
                    <a href="{{ path('app_application_edit', {'id': application.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_application_new') }}">Create new</a>
{% endblock %}
